body {
  background: #b3d4ff;
}

.App {
  position: fixed;
  top: 20%;
  left: 15%;
}

.fordBox {
  border-style: solid;
  border-color: #003478;
  background: #4d9aff;
  border-radius: 25px;
  padding: 20px;
  width: 100px;
  height: 120px;
  color: white;
  text-shadow: 2px 2px #000000;
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}

.lossBox {
  border-style: solid;
  border-color: #003478;
  background: #4d9aff;
  border-radius: 25px;
  padding: 20px;
  width: 250px;
  height: 100px;
  color: white;
  text-shadow: 2px 2px #000000;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;

}

.stockPrice {
  font-size: 30px;
  padding-top: 5px;
  color: #7eff85;
  font-weight: bold;
}

.soldPrice {
  font-size: 30px;
  padding-top: 5px;
  color: black;
  text-shadow: none;
  font-weight: bold;
}

.lossAmt {
  font-size: 50px;
  font-weight: bold;
}